aside:hover {
    display: block;
}

.menu {
    display: inline-block;
}

aside {
    border: 4px inset purple;
    border-radius: 14px;
    margin: 1em;
    padding: 1em;
    width: 30%;
    background: url(../images/fade.jpg) repeat-x top left;
    float: right;
    box-shadow: 10px 10px 5px #aaaaaa;
}

header {
    border: 1px solid darkgrey;
    margin: 0.5em;
    padding: 0.5em;
    background-color: lightgrey;
    text-align: center;
}

footer {
    border-top: 4px double rgb(255, 0, 0);
    text-align: center;
    clear: both;
    padding: 10px;
}

#lists {
    float: left;
}

table {
    margin: auto;
}

#tables {
    float: right;
}

#hyperlinks {
    clear: both;
    float: left;
}

#images {
    float: right;
}

#images figure {
    border: 2px solid #ccc;
}

#lists,
#images,
#tables,
#hyperlinks {
    width: 50%;
    text-align: center;
}

ol,
ul,
dl {
    text-align: left;
}

article {
    min-width: 30em;
}

footer p {
    display: inline-block;
    width: 33%;
}

footer p:first-child {
    float: left;
}

footer p:nth-child(2) {
    text-align: center;
}

footer p:last-child {
    float: right;
    text-align: right;
}

/* styling definition list */
dl {
    border: 3px double #ccc;
    padding: 0.5em;
}

dt {
    clear: left;
    float: left;
    width: 40%;
    text-align: right;
    font-weight: bold;
    color: green;
}

dt::after {
    content: " :";
}

dd {
    width: 55%;
    margin-left: 42%;
}